:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

body{
  margin: 0px;
}

.auth {
  background-image: url("https://www.yudiz.com/codepen/animation-form/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 83vh;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  position: relative;
  overflow: hidden;
}


.login-container {
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-width: 800px;
  height: 70vh;
  margin: 0 auto;
  padding: 20px 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #1f2f72;
  background-color: #e8eaeec9;
  backdrop-filter: blur(6px);
}
.container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 54px 55px,
    rgba(0, 0, 0, 0.205) 0px -12px 30px, rgba(0, 0, 0, 0.253) 0px 4px 6px,
    rgba(0, 0, 0, 0.205) 0px 12px 13px, rgba(0, 0, 0, 0.185) 0px -3px 5px;
}

.container h3{
  text-align: center;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  text-align: left;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
input[type="date"],
select,textarea {
  padding: 10px;
  border-radius: 8px;
  font-size: 18px;
  color:#053e74;
}

input{
  border-radius: 8px;
  color:#053e74;
  background-color: #a1b4c085;
  border: 1px solid #4f8cb400;
}

.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn1 button {
  margin-top: 10px;
  background-color: #283fa7e1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #0306aadc;
}

.error-msg {
  color: #dc3545;
}

span {
  display: block;
  text-align: center;
  margin-top: 10px;
}

span a {
  color: #0466ce;
  text-decoration: none;
}

span a:hover {
  text-decoration: underline;
}


.registration-auth {
  background-image: url("https://www.yudiz.com/codepen/animation-form/banner.jpg");
  background-size: cover;
  background-position: center;
  height: 83vh;
  display: flex;
  justify-content: center;
  padding-top: 3%;
  position: relative;
  overflow: hidden;
}

.registration-container {
  height: 70vh;
  width: 70%;
  padding: 10px;
  padding-bottom: 1px;
  padding-top: 40px;
  border: 1px solid #92abbba2;
  border-radius: 8px;
  color: #1f2f72;
  background-color: #e8eaeec9;
  backdrop-filter: blur(10px);
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-input-group {
  display: flex;
  margin-bottom: 16px;
  width: 100%;
  overflow: hidden;
}

.registration-input-group div {
  display: flex;
  flex-direction: row;
}

.registration-text-area {
  padding: 10px;
  width: 130px;
  text-align: right;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}

.registration-input-group input {
  flex: 1;
  padding: 10px;
  width: 280px;
}

.registration-btn1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-btn1 button {
  margin-top: 16px;
  background-color: #283fa7e1;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.registration-error-msg {
  color: red;
  margin-top: 8px;
}

.imagebg {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  background-color:rgba(0, 128, 0, 0.219);
  border-radius:50%;
  top: 0;
  left: 0;
  animation: floatTopToBottom 18s linear infinite alternate; 
}
.imagebg1 {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  margin-left: 29%;
  margin-bottom: 40%;
  background-color:rgba(255, 0, 0, 0.322);
  border-radius:50%;
  top: 0;
  left: 0;
  animation: floatTopToBottom1 1s linear infinite alternate; 
}
.imagebg2 {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  background-color:rgba(55, 0, 255, 0.178);
  border-radius:50%;
  top: 0;
  left: 0;
  animation: floatTopToBottom4 9s linear infinite alternate; 
}
.imagebg3 {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  background-color:rgba(192, 0, 90, 0.274);
  border-radius:50%;
  top: 0;
  left: 0;
  animation: floatTopToBottom 11s linear infinite alternate; 
}
.imagebg4 {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  margin-left: 39%;
  margin-bottom: 30%;
  background-color:rgba(255, 166, 0, 0.226);
  border-radius:50%;
  top: 0;
  left: 0;
  animation: floatTopToBottom 9s linear infinite alternate; 
}
.imagebg5 {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  background-color:rgba(56, 199, 0, 0.233);
  border-radius:50%;
  top: 0;
  left: 0;
  animation: floatTopToBottom3 3s linear infinite alternate; 
}
.imagebg6 {
  font-size:30px;
  font-weight:bold;
  border-color:transparent;
  position: absolute;
  height:100px;
  width:100px;
  background-color:rgba(155, 0, 134, 0.219);
  border-radius:50%;
  margin-left: 39%;
  margin-bottom: 30%;
  top: 0;
  left: 0;
  animation: floatTopToBottom4 6s linear infinite alternate; 
}

@keyframes floatTopToBottom {
  0% {
    transform: translate(10px, 500px);
  }
  10% {
    transform: translate(77px, 240px);
  }
  20% {
    transform: translate(907px, 81px);
  }
  30% {
    transform: translate(651px, 84px);
  }
  40% {
    transform: translate(12px, 408px);
  }
  50% {
    transform: translate(706px, 312px);
  }
  60% {
    transform: translate(209px, 72px);
  }
  70% {
    transform: translate(921px, 502px);
  }
  80% {
    transform: translate(402px, 240px);
  }
  90% {
    transform: translate(520px, 312px);
  }
  100% {
    transform: translate(10px, 500px);
  }
}
@keyframes floatTopToBottom1 {
0% {
  transform: translate(50px, 200px);
}
25% {
  transform: translate(150px, 300px);
}
50% {
  transform: translate(250px, 400px);
}
75% {
  transform: translate(350px, 500px);
}
100% {
  transform: translate(450px, 600px);
}
}

@keyframes floatTopToBottom2 {
  0% {
    transform: translate(20px, 100px);
  }
  10% {
    transform: translate(50px, 190px);
  }
  20% {
    transform: translate(80px, 140px);
  }
  30% {
    transform: translate(110px, 160px);
  }
  40% {
    transform: translate(140px, 180px);
  }
  50% {
    transform: translate(170px, 200px) rotate(90deg);
  }
  60% {
    transform: translate(200px, 220px);
  }
  70% {
    transform: translate(230px, 240px);
  }
  80% {
    transform: translate(260px, 260px);
  }
  90% {
    transform: translate(290px, 280px);
  }
  100% {
    transform: translate(320px, 300px);
  }
}

@keyframes floatTopToBottom3 {
  0% {
    transform: translatex(810px, 400px);
  }
  20% {
    transform: translate(120px, 420px);
  }
  40% {
    transform: translate(77px, 240px);
  }
  60% {
    transform: translate(600px, 460px);
  }
  80% {
    transform: translate(240px, 480px);
  }
  100% {
    transform: translate(280px, 500px) rotate(90deg);
  }
}

@keyframes floatTopToBottom4 {
  0% {
    transform: translate(300px, 700px);
  }
  15% {
    transform: translate(320px, 500px);
  }
  30% {
    transform: translate(540px, 400px);
  }
  45% {
    transform: translate(360px, 690px);
  }
  60% {
    transform: translate(399px, 400px);
  }
  75% {
    transform: translate(600px, 600px);
  }
  90% {
    transform: translate(420px, 700px);
  }
  100% {
    transform: translate(940px, 300px) rotate(90deg);
  }
}


@media (max-width: 768px) {
  .auth{
    height: 84vh;
    padding: 16px 6px;
  }
  .container {
    margin-top: 30px;
    padding: 5px 40px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="tel"],
  select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  select {
    width: 67%;
  }
  .registration-auth{
    padding: 10px;
  }

  .registration-container {
    height: 94vh;
    width: 100%;
    padding-left: 20px;
    padding-top: 10px;
  }
  .registration-input-group {
    display: block;
    margin-bottom: 1px;
  }

  .registration-input-group div {
    flex-direction: column;
  }

  .registration-text-area {
    width: auto;
    margin-right: 0;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1px;
    padding: 0px;
  }

  .registration-input-group input {
    width: 90%;
  }
  .registration-auth {
    height: 100vh;
  }
}


.home-container {
  margin: 0 auto;
  text-align: center;
}


.custom-section {
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 150px;
  color: #333;
}

.custom-section.align-left {
  flex-direction: row;
}

.custom-section.align-right {
  flex-direction: row-reverse;
}

.content {
  max-width: 600px;
  text-align: center;
}

.content h2{
  font-size: 45px;
  color: rgb(42, 42, 109);
  text-shadow: 2px 2px 4px rgba(0, 77, 139, 0.589);
}

.side-svg {
  width: 35%;
}

.side-svg img {
  width: 100%;
  height: auto;
}


.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #343a40;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-navbar .navbar-brand {
  font-size: 2rem;
  font-weight: bold;
  color: #0b467e;
  letter-spacing: 1px;
  text-shadow: 2px 2px 4px rgba(65, 65, 65, 0.589);
  transition: color 0.3s ease, transform 0.2s ease;
  margin-top: 1px;
}

.custom-navbar .navbar-brand:hover {
  color: #074a92;
  transform: scale(1.08);
}



.custom-navbar .navbar-nav {
  margin-left: auto;
}

.custom-navbar .navbar-nav .nav-link {
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 1rem;
  color: #343a40;
  position: relative;
  transition: color 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #17a2b8;
}

.custom-navbar .navbar-nav .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #17a2b8;
  bottom: -5px;
  transform-origin: bottom;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.custom-navbar .navbar-nav .nav-link:hover::before {
  transform: scaleX(1);
}

.custom-navbar .navbar-nav .btn-outline-info {
  margin-left: 15px;
}

.custom-navbar .navbar-toggler-icon {
  border-color: #343a40;
}

.custom-navbar .navbar-toggler {
  color: #343a40;
}

.btn-get-started {
  background-color: #0b58aa;
  border-radius: 10px;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-get-started:hover {
  background-color: #074a92;
  transform: scale(1.05);
}

.btn-get-started:active {
  background-color: #053e74;
  transform: scale(0.95);
}

.cursor-follower {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #3f507418;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.1s ease;
}

@media (max-width: 767px) {
  .home-container {
    background-color: #114c55;
  }
}

@media (max-width: 767px) {
  .custom-section {
    height: auto;
    flex-direction: column;
    padding: 35px;
    margin-top: 100px;
  }

  .custom-section.align-left, .custom-section.align-right {
    flex-direction: column;
  }

  .side-svg {
    width: 100%;
    margin-top: 20px;
  }

  .content {
    text-align: center;
  }

  .content h2 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .custom-navbar {
    padding: 15px 10px;
  }

  .custom-navbar .navbar-brand{
    font-size: 23px;
    margin-top: 1px;
  }

  .custom-navbar .navbar-nav {
    margin-left: 0;
  }

  .custom-navbar .navbar-toggler-icon {
    border-color: #ffffff;
  }

  .custom-navbar .navbar-nav .nav-link {
    margin-left: 5px;
    margin-right: 5px;
  }

  .custom-navbar .navbar-nav .btn-outline-info {
    margin-left: 0;
  }
  .btn-get-started {
    padding: 8px 12px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-section {
    padding: 60px;
  }

  .content h2 {
    font-size: 32px;
  }
}

@media (max-width: 767px) {
  .cursor-follower {
    width: 1px;
    height: 1px;
  }
}



.footer {
  background-color: #ffffff;
  color: #074a92;
  padding: 60px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  width: 44%;
  padding: 2px 30px;
}

.contact-form {
  text-align: left;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #074a92;
}

.contact-form p {
  font-size: 14px;
  margin-bottom: 30px;
}

.form-input,
.form-textarea {
  width: 85%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-submit-btn {
  background-color: #074a92;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
}


.form-submit-btn:hover {
  background-color: #053e74;
}

.info-list,
.address-list,
.company-list,
.language-list {
  padding: 0;
}

.info-list li,
.address-list li,
.company-list li {
  font-size: 14px;
  margin-bottom: 5px;
}

.language-list img {
  width: 30px;
  height: auto;
}

.contact-form input , .contact-form textarea{
  background-color: #0b467e18;
  border-radius: 5px;
  padding: 10px;
  border: none;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
}

@media (max-width: 767px) {
  .footer-col {
    width: 90%;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
  }
  .form-input,
  .form-textarea {
      width: 98%;
    }
}


.menu-trigger {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 8px 16px;
  background-color: #001e3b18;
  box-shadow: 0px 0px 4px 2px rgba(25, 38, 80, 0.233);
}

.menu-trigger p{
  margin: 2px;
  margin-right: 10px;
  color: rgb(0, 0, 114);
  font-weight: bold;
}

.menu-trigger .dropdown-icon{
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  color: rgb(0, 0, 114);
  background-color: #dde3e7;
}

.dropdown-menu{
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  width: 200px;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}


.dropdown-menu ul li{
  padding: 10px  0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a{
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdown-menu ul li:hover img{
  opacity: 1;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem .dropdown-icon{
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  margin-top: 5px;
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
  transition: 500ms;
}



/* SelectLanguage.css */

.select-language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 58%;
  padding: 1% 21%;
  border-radius: 12px; 
}

.img-logo-container img{
  width: 400px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #333; 
}

.language-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.language-item {
  padding: 12px 20px;
  border: 2px dotted #0b467e;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.language-item:hover {
  background-color: #0b467e;
  color: #fff;
  transform: scale(1.05); 
}

.selected-language {
  border: 2px groove white;
  background-color: #074a92;
  color: #fff;
}

.start-learning-btn {
  margin-top: 20px;
  padding: 12px 24px;
  background-color: #0b467e;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.start-learning-btn:hover {
  background-color: #074a92;
  transform: scale(1.05);
}
